[Desktop Entry]
Name=Instagraph
Comment=Unofficial Instagram Client
Keywords=instagram;insta;gram;instagraph;
Exec=Instagraph
Icon=Instagraph/Instagraph.png
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-Splash-Color=#ffffff
